*{
    padding: 0px;
    margin: 0px;
}
a{
    color: darkturquoise;
    margin-left: 10px;
    text-decoration: none;
}

body{
    margin: 0px;
    padding: 0px;
}


/*===============Nav bar CSS Started===============*/
.container-fluid li a{
    font-size: 29px;
    padding : 10px;
    margin-left: 10px;
    text-decoration: none;
     color:white;
    font-weight: bold;
    text-align: center;
    text-decoration: none;   
 }

.navbar font{
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    color:white;
}


.container-fluid li a:hover{
    color:darkturquoise;
    
}

.navbar-image{
    height: 50px;
    width: 50px;
    padding: 0px;
}
/*===============Nav bar CSS End===============*/













/*===============Footer CSS Started===============*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    max-width: 1170px;
    background-color: rgb(126, 124, 252);
    margin: auto;
}

.rowC{
    display: flex;
    flex-wrap: wrap;
}

ul{
    list-style: none;
}

.footer-col{
    width: 25%;
    padding: 0px 15px;
}

.footer-col h4{
    font-size: 18px;
    color: black;
    text-transform: capitalize;
    margin: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before{
    content: "";
    position: absolute;
    left: 0px;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}

.footer-col ul li {
    font-size: 16px;
    text-transform: capitalize;
    color: #bbbbbb   ;
    text-decoration: none;
    font-weight: 500;
    color: #fff;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul h2 li {
    font-size: 23px;
    text-transform: capitalize;
    color: #bbbbbb   ;
    text-decoration: none;
    font-weight: 500;
    color: #fff;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #bbbbbb   ;
    text-decoration: none;
    font-weight: 500;
    color: #fff;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover{
    color: darkturquoise;
    padding: 10px;
}

.footer-col ul div a{
    font-size: 16px;
    text-transform: capitalize;
    color: #bbbbbb   ;
    text-decoration: none;
    font-weight: 500;
    color: #fff;
    display: block;
    transition: all 0.3s ease;
}

.social-size{
    padding: 0px;
    margin: 0px;

}

.social-login{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: blue;
    margin-left: 0px;

}

.p-1{
    height: 40px;
    width: 40px;
    background-color: #f5f6fa;
    margin: 7px;
    border-radius: 50px;
    box-shadow: 1px 4px 2px 2px #dcdee1;
    line-height: 50px;
    text-align: center;
}

i{
    transition: all 0.2s linear;

}

.p-1:hover i {
    transform: scale(1.4);
}

.fa-instagram {
    color: #e84393;
}

.fa-youtube {
    color: #e84118;
}

.fa-linkedin {
    color: #0097e6;
}

.fa-twitter {
    color: #0097e6;
}

.fa-whatsapp {
    color: #25D366;
}

.fa-location-dot{
    color: #EA4335;
}

.fa-phone{
    color: #4ff01e;
}

.fa-envelope{
    color: #d7ee09;
}

.footer-image{
    height: 100px;
    width: 100px;
    margin: 0px;
}

.f-1{
    padding: 5px 0;
}
.text-footer{
    font-weight: 500;
    color: rgb(255, 253, 253); 
    background:#058fda;
    text-align: center;
    padding: 20px 0;

    display: flex;
    justify-content: center;
}

/*===============Footer Media Query Started===============*/

@media (min-width:280px){
    .footer-col {
        width: 100%;
    }
    .card.card-size {
        width: 15rem;
    }
}

@media (min-width:320px){
    .footer-col {
        width: 100%;
    }
}

@media (min-width: 540px){
    .footer-col {
        width: 50%;
    }
}

@media (min-width: 716px){
    .footer-col {
        width: 50%;
    }
}

@media (min-width: 768px){
    .footer-col {
        width: 50%;
    }
}

@media (min-width: 1024px){
    .footer-col {
        width: 25%;
    }
}

@media (min-width: 1280px){
    .container {
        max-width: 1280px;
        background-color: rgb(126, 124, 252);
        margin: auto;
    }
    .footer-col {
        width: 25%;
    }
}

/*===============Footer CSS & Media Query End===============*/













/*===============Contact Us CSS Started===============*/

.body-contact{
    background: linear-gradient(90deg, #0e3959 0%, #0e3959 30%, #03a9f5 30%, #03a9f5 100%);
    position: relative;
    size-adjust: auto;
}

.contactus{
    position: relative;
    width: 100%;
    padding: 40px 100px;
}

.contactus .title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

.contactus .title h2{
    color: #fff;
    font-weight: 500;
}

.form{
    grid-area: form;
}

.info{
    grid-area: info;
}

.map{
    grid-area: map;
}

.contact{
    padding: 40px;
    background: #fff;
    box-shadow: 0px 5px rgba(0, 0, 0, 0.15);
}

.box{
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 5fr 4fr;
    grid-template-areas: 
    "form info"
    "form map";
    grid-gap: 20px;
    margin-top: 20px;
    background: transparent;
}

.contact h3{
    color: #0e3959;
    font-weight: 500;
    font-size: 1.4em;
    margin-bottom: 10px;
}

/* Contact Us Form */

.formbox{
    position: relative;
    width: 100%;
}

.formbox .rowA{
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.inputBox{
    position: relative;
    width: 45%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 30px 0px;
}

.inputBoxB{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 30px 0px;
}

.inputBox span{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.inputBoxB span{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.inputBox input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #162938;
    font-weight: 600;
    padding: 0px 35px 0px 5px;
}

.inputBoxB input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #162938;
    font-weight: 600;
    padding: 0px 35px 0px 5px;
}

.inputBox input:focus~span,
.inputBox input:valid~span{
    top: -5px;
}

.inputBoxB input:focus~span,
.inputBoxB input:valid~span{
    top: -5px;
}

.btn-login{
    width: 100%;
    height: 45px;
    background: #162938;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #ffff;
    font-weight: 500;
}

/* info */

.info{
    background: #0e3959;
}

.info h3{
    color: #fff;
}

.info .infoBox div{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.info .infoBox div span{
    min-width: 40px;
    height: 40px;
    color: #fff;
    background: #18b7ff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    border-radius: 50%;
    margin-right: 15px;
}

.info .infoBox div p{
    color: #fff;
    font-size: 1.1em;
}

.info .infoBox div a{
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
}

/* contact map */

.map{
    padding: 0px;
}

.map iframe{
    width: 100%;
    height: 100%;
}

/*===============Contact US Media Querry started===============*/

@media (min-width:280px) and (max-width: 319px){
    .body-contact{
        background: #03a9f5 ;
    }

    .contactus{
        padding: 10px;
    }

    .contact h3 {
        color: #0e3959;
        font-weight: 500;
        font-size: 1.4em;
        margin-bottom: 10px;
        padding-left: 30px;
        padding-top: 20px;
    }

    .box {
     width: 70%;
    grid-template-rows: auto;
    grid-template-areas: 
    "form"
    "info"
    "map";
    grid-gap: 20px;
    margin-top: 20px;
    background: transparent;
    }
    
    .formbox .rowA {
        display: flex;
        gap: 0px;
        flex-direction: column;
        padding-left: 30px;
    }
    .inputBox {
        width: 85%;
    }

    .inputBoxB{
        width: 75%;
        margin: 30px;
    }

    .btn-login {
        width: 80%;
        height: 45px;
        background: #162938;
        border: none;
        outline: none;
        border-radius: 6px;
        cursor: pointer;
        font-size: 1em;
        color: #ffff;
        font-weight: 500;
        margin: 24px;
    }

    .contact h4 {
        color: #fcfcfc;
        font-weight: 500;
        font-size: 1.4em;
        margin-bottom: 10px;
        padding-left: 30px;
        padding-top: 20px;
    }

    .contact {
        padding: 0px;
    }

    .info .infoBox div {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        margin-left: 10px;
    }

    .map {
        min-height: 300px;
        padding: 0px;
    }
}

@media (min-width: 320px) and (max-width: 991px){
    .body-contact{
        background: #03a9f5 ;
    }
    .contactus{
        padding: 20px;
    }
    .box {
        position: relative;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "form"
            "info"
            "map";
    }
    
    .formbox .rowA {
        display: flex;
        gap: 0px;
        flex-direction: column;
    }
    .inputBox {
        width: 100%;
    }
    .contact h4 {
        color: #fcfcfc;
        font-weight: 500;
        font-size: 1.4em;
        margin-bottom: 10px;
        padding-left: 30px;
    }
    .contact {
        padding: 30px;
    }
    .map {
        min-height: 300px;
        padding: 0px;
    }
}


/*===============Contact Us CSS & Media Query End===============*/













/*===============Home & About us css started===============*/

.body-about{
    background: #CAF7FC;
}

.wrapper{
   padding: 10px;
    margin: 0px;
}

.Tag-text-big{
    padding:10px;
    background: #bbbbbb;
    font-size: 30px;
    font-weight: 500;
    box-shadow: 1px 4px 2px 2px #0515f7b4;
}

.SubTag-text-small{
    font-size: 25px;
    padding: 20px;
    font-weight: 500;  
}

.wrapper ul{
    font-size: 20px;
    font-weight: 500;
}
/*===============home & about us CSS End==============*/

/*===============Home & About us Media Query started===============*/
@media (min-width:320px){
    .wrapper .Tag-text-big {
        padding: 10px;
        width: 100%;
        background: #bbbbbb;
        font-size: 30px;
        font-weight: 500;
        box-shadow: 1px 4px 2px 2px #0515f7b4;
    }
}

@media (min-width: 540px){
    .wrapper .Tag-text-big {
        padding: 10px;
        width: 60%;
        background: #bbbbbb;
        font-size: 30px;
        font-weight: 500;
        box-shadow: 1px 4px 2px 2px #0515f7b4;
    }
}

@media (min-width: 716px){
    .wrapper .Tag-text-big {
        padding: 10px;
        width: 50%;
        background: #bbbbbb;
        font-size: 30px;
        font-weight: 500;
        box-shadow: 1px 4px 2px 2px #0515f7b4;
    }
}

@media (min-width: 1024px){
    .wrapper .Tag-text-big {
        padding: 10px;
        width: 35%;
        background: #bbbbbb;
        font-size: 30px;
        font-weight: 500;
        box-shadow: 1px 4px 2px 2px #0515f7b4;
    }
}

@media (min-width: 1280px){
    .wrapper .Tag-text-big {
        padding: 10px;
        width: 25%;
        background: #bbbbbb;
        font-size: 30px;
        font-weight: 500;
        box-shadow: 1px 4px 2px 2px #0515f7b4;
    }
}

/*===============Home & About us css & Media Query End===============*/










/*===============Career css started===============*/
.career-body{
    background: #CAF7FC;
}

.section-1 h5{
    font-size: 30px;
    font-weight: 500;
    padding-top: 20px;
    text-align: center;
}
 
.section-1 p{
    margin: 20px;
    font-size: 20px;
    font-weight: 400;
    padding-left: 20px;
}

.section{
    padding: 10px;
}

.section h5{
    padding: 20px;
    background: #bbbbbb;
    font-weight: 500;
    box-shadow: 1px 4px 2px 2px #0515f7b4;
    font-size: 30px;

}
.section li{
    list-style: none;
    margin: 20px;
    font-size:25px;
    font-weight: 500;
}
.section p{
    margin: 20px;
    font-size:25px;
    font-weight: 500;
}
/*===============Career css End===============*/

/*===============Career Media Querry started===============*/

@media (min-width:320px){
    .section h5 {
        padding: 20px;
        background: #bbbbbb;
        font-weight: 500;
        width: 100%;
        box-shadow: 1px 4px 2px 2px #0515f7b4;
        font-size: 30px;
    }
}

@media (min-width: 540px){
    .section h5 {
        padding: 20px;
        background: #bbbbbb;
        font-weight: 500;
        width: 70%;
        box-shadow: 1px 4px 2px 2px #0515f7b4;
        font-size: 30px;
    }
}

@media (min-width: 716px){
    .section h5 {
        padding: 20px;
        background: #bbbbbb;
        font-weight: 500;
        width: 50%;
        box-shadow: 1px 4px 2px 2px #0515f7b4;
        font-size: 30px;
    }
}

@media (min-width: 1024px){
    .section h5 {
        padding: 20px;
        background: #bbbbbb;
        font-weight: 500;
        width: 40%;
        box-shadow: 1px 4px 2px 2px #0515f7b4;
        font-size: 30px;
    }
}

@media (min-width: 1280px){
    .section h5 {
        padding: 20px;
        background: #bbbbbb;
        font-weight: 500;
        width: 30%;
        box-shadow: 1px 4px 2px 2px #0515f7b4;
        font-size: 30px;
    }
}

/*===============Career CSS & Media Query End===============*/









/*===============privacy css started===============*/

.body-privacy{
    background: #e2f5ff;
}
.privacy{
    padding: 40px;
}
.privacy h1{
    text-align: center;
}
.privacy h3{
    text-align: center;
    margin: 20px;
}
.privacy li{
  list-style: none;
  margin: 10px;
  padding-left: 30px;
}
/*===============privacy css End===============*/









/*===============refund css started===============*/
.body-refund{
    background: #e2f5ff;
}
.section-B h1{
    text-align: center;
    margin: 10px;
}
.section-B{
    padding: 20px;
}
.section-B h3{
    margin: 10px;
    margin-top: 25px;
}
.section-B p{
    margin: 20px;
}
/*===============refund css End==============*/











/* =========== our service started============== */
.service-body{
    background: #bfe4f7;
}

.service{
    text-align: center;
}

.service h1{
    text-align: center;
    padding: 20px;
}
.card{
    display: inline-block;
    margin: 20px;
    text-align: center;
}
.card-body a{
    margin-left: 100px;
    background: #a064ee;

}

.card-back{
    background-color: #dbeef7;
}

.card-size{
    width: 18rem;
}
/* =========== our service End============== */

/* =========== our service Media Query started============== */

@media (min-width:320px){
    .card.card-size {
        width: 18rem;
        text-align: center;
        margin-left: 20px;
    }
}

@media (min-width:540px){
        .card.card-size {
        width: 18rem;
        text-align: center;
        margin-left: 30px;
    }
}

@media (min-width: 768px){
    .card.card-size {
        width: 20rem;
        text-align: center;
        margin-left: 30px;
    }
}

@media (min-width: 910px){
    .card.card-size {
        width: 22rem;
        text-align: center;
        margin-left: 40px;
    }
}

@media (min-width: 1024px){
    .card.card-size {
        width: 18rem;
        text-align: center;
        margin-left: 10px;
    }

   
}

@media (min-width: 1280px){
   .card.card-size {
        width: 22rem;
        text-align: center;
        margin-left: 40px;
    }

    
}

/* =========== our service CSS & Media Querystarted============== */









/*========webdev css started==========*/

.web-body{
    background: #bcdefc;
}
.web{
    padding: 0px 50px 50px 50px;
}
.web h1{
    text-align: center;
    text-shadow: 2px 6px 5px gray;
    margin: 10px;
}
.web h3{
    text-align: center;
    padding: 20px;
}
.web h2{
    margin: 10px;
    text-align: center;  
}
.web h6{
    text-shadow: 2px 6px 5px gray;
    padding-top: 25px;
    padding-bottom: 30px;
    font-size: 34px;
    text-align: center;
    font-weight: 500;
}
.web h6::after{
    content: '';
    height: 2px;
    width: 150px;
    background-color: #961414;
    display: block;
    margin: auto;
}
.web .card-body{
   background-color: #dbeef7;
} 
.web .card p{
    font-weight: 500;
}
.web .wrapper .Tag-text-big{
    padding:10px;
    width: 50%;
    background: #bbbbbb;
    font-size: 30px;
    font-weight: 500;
    box-shadow: 1px 4px 2px 2px #0515f7b4;
}
.web .wrapper .text{
    font-size: 20px;
    padding: 20px;
    font-weight: 500; 
}
.web .w-1 h3 b{ 
    color: rgb(209, 11, 11);
    font-size: 40px;
    font-weight: 500;
}
.web .w-1 h3 a{
    color:#961414;
}
.web .w-1 h3 a:hover{
    color:#2359eb;
}

.card-size-web{
    width: 18rem;
}
/*========webdev css End=========*/

/*========Webdev Media Query started==========*/


@media (max-width:282px){
    .web .wrapper .Tag-text-big {
        padding: 10px;
        width: 100%;
        background: #bbbbbb;
        font-size: 30px;
        font-weight: 500;
        box-shadow: 1px 4px 2px 2px #0515f7b4;
    }

    .web {
        padding: 20px;
    }

   
    .web .card img {
        width: 12.4rem;
        height: 140px;
    }

    .web h3 {
        text-align: left;
        padding: 10px;
    }

    .card-size-web {
        width: 12.5rem;
        text-align: center;
        margin-left: 20px;
    }
}

@media (min-width:320px){
    .web .wrapper .Tag-text-big {
        padding: 10px;
        width: 100%;
        background: #bbbbbb;
        font-size: 30px;
        font-weight: 500;
        box-shadow: 1px 4px 2px 2px #0515f7b4;
    }

    .web {
        padding: 20px;
    }

    .card-size-web {
        width: 18rem;
        text-align: center;
        margin-left: 25px;
    }
}

@media (min-width:540px){
    .web .wrapper .Tag-text-big {
        padding: 10px;
        width: 100%;
        background: #bbbbbb;
        font-size: 30px;
        font-weight: 500;
        box-shadow: 1px 4px 2px 2px #0515f7b4;
    }

    .card-size-web {
        width: 18rem;
        text-align: center;
        margin-left: 110px;
    }
}

@media (min-width: 768px){
    .web .wrapper .Tag-text-big {
        padding: 10px;
        width: 60%;
        background: #bbbbbb;
        font-size: 30px;
        font-weight: 500;
        box-shadow: 1px 4px 2px 2px #0515f7b4;
    }

    .card-size-web {
        width: 18rem;
        text-align: center;
        margin-left: 40px;
    }
}

@media (min-width: 820px){
    .web .wrapper .Tag-text-big {
        padding: 10px;
        width: 60%;
        background: #bbbbbb;
        font-size: 30px;
        font-weight: 500;
        box-shadow: 1px 4px 2px 2px #0515f7b4;
    }

    .card-size-web {
        width: 22rem;
        text-align: center;
        margin-left: 15px;
    }
}

@media (min-width:910px){
    .web .wrapper .Tag-text-big {
        padding: 10px;
        width: 50%;
        background: #bbbbbb;
        font-size: 30px;
        font-weight: 500;
        box-shadow: 1px 4px 2px 2px #0515f7b4;
    }
    
    .card-size-web {
        width: 23rem;
        text-align: center;
        margin-left: 35px;
    }
}

@media (min-width: 1024px){
    .web .wrapper .Tag-text-big {
        padding: 10px;
        width: 50%;
        background: #bbbbbb;
        font-size: 30px;
        font-weight: 500;
        box-shadow: 1px 4px 2px 2px #0515f7b4;
    }

    .card-size-web {
        width: 15rem;
        text-align: center;
        margin-left: 45px;
    }
}

@media (min-width: 1280px){
    .web .wrapper .Tag-text-big {
        padding: 10px;
        width: 40%;
        background: #bbbbbb;
        font-size: 30px;
        font-weight: 500;
        box-shadow: 1px 4px 2px 2px #0515f7b4;
    }

 
}

/*========Webdev Media Query End==========*/












/*================Web-host css started===================*/
.webhost-body{
    background: #CAF7FC;
}
.web-host{
    padding: 0px;
    margin-left: 20px;
}
.web-host h1{
    text-align: center;
    text-shadow: 2px 6px 5px gray;
    margin: 10px;
}
.web-host h4{
    text-align: center;
    padding: 20px;
}
.web-host .w-1 h3{
    padding:10px;
    margin: 20px;
    width: 40%;
    background: #bbbbbb;
    font-size: 30px;
    font-weight: 500;
    box-shadow: 1px 4px 2px 2px #0515f7b4;
}

.web-host .w-1 li{
    margin-left: 40px;
    padding: 5px;
    width: 30%;
    list-style: none;
    font-size: 23px;
    font-weight: 500;
}

.web-host  .w-1 .text{
    margin-left: 30px;
    width: 50%;
    list-style: none;
    font-size: 23px;
    font-weight: 500;
}

.web-host .w-2 h3 b{
    padding: 10px;
    color: rgb(209, 11, 11);
    font-size: 40px;
    font-weight: 500;
}
.web-host .w-2 h3{
    padding: 50px;
    text-align: center;
}
.web-host .w-2 h3 a{
    color:#961414;
}
.web-host .w-2 h3 a:hover{
    color:#2359eb;
}
/*================Web-host css End===================*/

/*================Web-host Media Query started===================*/

@media (max-width:282px){
    .web-host .w-1 h3 {
        padding: 10px;
        margin: 20px;
        width: 77%;
        background: #bbbbbb;
        font-size: 30px;
        font-weight: 500;
        box-shadow: 1px 4px 2px 2px #0515f7b4;
    }

    .web-host .w-1 .text {
        margin-left: 30px;
        width: 70%;
        list-style: none;
        font-size: 23px;
        font-weight: 500;
    }

    .web-host .w-2 h3 {
        padding: 10px;
        text-align: left;
    }
}

@media (min-width:320px){
    .web-host .w-1 h3 {
        padding: 10px;
        margin: 20px;
        width: 80%;
        background: #bbbbbb;
        font-size: 30px;
        font-weight: 500;
        box-shadow: 1px 4px 2px 2px #0515f7b4;
    }

    .web-host .w-2 h3 {
        padding: 10px;
        text-align: left;
    }
}

@media (min-width:540px){
    .web-host .w-1 h3 {
        padding: 10px;
        margin: 20px;
        width: 88%;
        background: #bbbbbb;
        font-size: 30px;
        font-weight: 500;
        box-shadow: 1px 4px 2px 2px #0515f7b4;
    }

    .web-host .w-1 .text {
        margin-left: 30px;
        width: 70%;
        list-style: none;
        font-size: 23px;
        font-weight: 500;
    }
}

@media (min-width: 768px){
    .web-host .w-1 h3 {
        padding: 10px;
        margin: 20px;
        width: 50%;
        background: #bbbbbb;
        font-size: 30px;
        font-weight: 500;
        box-shadow: 1px 4px 2px 2px #0515f7b4;
    }

    .web-host .w-2 h3 {
        padding: 20px;
        text-align: left;
        margin: 30px;
    }
}

@media (min-width: 910px){
    
}

@media (min-width: 1024px){
    .web-host .w-1 h3 {
        padding: 10px;
        margin: 20px;
        width: 40%;
        background: #bbbbbb;
        font-size: 30px;
        font-weight: 500;
        box-shadow: 1px 4px 2px 2px #0515f7b4;
    }
}

@media (min-width: 1280px){
    .web .wrapper .Tag-text-big {
        padding: 10px;
        width: 40%;
        background: #bbbbbb;
        font-size: 30px;
        font-weight: 500;
        box-shadow: 1px 4px 2px 2px #0515f7b4;
    }

}
/*================Web-host Media Query End===================*/













/*===============metadata css started===============*/
.metadata-body{
    background: #CAF7FC;
}
.meta-data{
    padding: 0px 20px;
}
.meta-data h1{
    text-shadow: 2px 6px 5px gray;
    text-align: center;
    margin: 10px;
}

.meta-data h6{
    text-shadow: 2px 6px 5px gray;
    padding-top: 25px;
    padding-bottom: 30px;
    font-size: 34px;
    text-align: center;
    font-weight: 500;
}
.meta-data h6::after{
    content: '';
    height: 2px;
    width: 150px;
    background-color: #961414;
    display: block;
    margin: auto;
}
.meta-data .card-body{
   background-color: #dbeef7;
} 
.meta-data .card p{
    font-weight: 500;
}
.meta-data .wrapper .Tag-text-big{
    padding:10px;
    width: 50%;
    background: #bbbbbb;
    font-size: 30px;
    font-weight: 500;
    box-shadow: 1px 4px 2px 2px #0515f7b4;
}
.meta-data .wrapper .text{
    font-size: 20px;
    padding: 20px;
    font-weight: 500; 
}
.meta-data .w-4 h3 b{
    padding-left: 20px;
    margin:0px;
    color: rgb(209, 11, 11);
    font-size: 40px;
    font-weight: 500;
}
.meta-data .w-4 h3{
    text-align: center;
    padding: 30px;
}
.meta-data .w-4 h3 a{
    color:#961414;
}
.meta-data .w-4 h3 a:hover{
    color:#2359eb;
}
/*===============metadata css End===============*/










/*===============google css started===============*/
.google-body{
    background: #CAF7FC;
}
.google-ad{
    padding: 0px 20px;
}
.google-ad h1{
    text-align: center;
    text-shadow: 2px 6px 5px gray;
    margin: 10px;
} 
.google-ad h6{
    text-shadow: 2px 6px 5px gray;
    padding-top: 25px;
    padding-bottom: 30px;
    font-size: 34px;
    text-align: center;
    font-weight: 500;
}
.google-ad h6::after{
    content: '';
    height: 2px;
    width: 150px;
    background-color: #961414;
    display: block;
    margin: auto;
}
.google-ad .card-body{
   background-color: #dbeef7;
} 
.google-ad .card p{
    font-weight: 500;
}
.google-ad .wrapper .Tag-text-big{
    padding:10px;
    width: 50%;
    background: #bbbbbb;
    font-size: 30px;
    font-weight: 500;
    box-shadow: 1px 4px 2px 2px #0515f7b4;
}
.google-ad .wrapper .text{
    font-size: 20px;
    padding: 20px;
    font-weight: 500; 
}
.google-ad .w-4 h3 b{
    padding-left: 20px;
    margin:0px;
    color: rgb(209, 11, 11);
    font-size: 40px;
    font-weight: 500;
}
.google-ad .w-4 h3{
    text-align: center;
    padding: 30px;
}
.google-ad .w-4 h3 a{
    color:#961414;
}
.google-ad .w-4 h3 a:hover{
    color:#2359eb;
}
/*=================Google-ads css End==============*/











/* ===============whatsapp bulk messaging css stated===============*/
.whatsapp-bulk{
    padding: 20px;
    text-align: center;
}
.whatsapp-bulk h1{
    text-align: center;
    text-shadow: 2px 6px 5px gray;
    padding: 20px;
}
.whatsapp-bulk .card{
    display: inline-block;
    margin: 20px;
    text-align: center;
}
/* ===============whatsapp bulk messaging  css End===============*/












/*===============whatsapp-broad casting css started===============*/
.whatsappbulk-body{
    background: #9ef7d9;
}
.broad-casting{
    padding: 0px 20px;
}
.broad-casting h1{
    text-align: center;
    text-shadow: 2px 6px 5px gray;
    margin: 10px;
}
.broad-casting h4{
    text-align: center;
    padding: 20px;
}
.broad-casting h3{
    margin: 10px;
    text-align: center; 
}
.broad-casting h5{
    padding:10px;
    margin: 20px;
    width: 30%;
    background: #bbbbbb;
    font-size: 30px;
    font-weight: 500;
    box-shadow: 1px 4px 2px 2px #0515f7b4; 
}
.broad-casting .text{
    padding:10px;
    margin: 10px;
    width: 30%;
    list-style: none;
    font-size: 20px;
    font-weight: 500;
}

.broad-casting .w-4 h3 b{
    padding-left: 20px;
    margin:0px;
    color: rgb(209, 11, 11);
    font-size: 40px;
    font-weight: 500;
}
.broad-casting .w-4 h3{
    padding: 40px;
    text-align: center;
}
.broad-casting .w-4 h3 a{
    color:#961414;
}
.broad-casting .w-4 h3 a:hover{
    color:#2359eb;
}

.card-back2{
    background-color: #99fcd2;
}
/*===============whatsapp-broad casting css End===============*/













/*===============whatsapp chatbot css started===============*/
.chatbot-body{
    background: #CAF7FC;
}
.chat-bot{
    padding: 0px 20px;
}
.chat-bot h1{
    text-align: center;
    text-shadow: 2px 6px 5px gray;
    margin: 10px;
}
.chat-bot h3{
    margin: 10px;
    text-align: center; 
}
.chat-bot h5{
    padding:10px;
    margin: 20px;
    width: 30%;
    background: #bbbbbb;
    font-size: 30px;
    font-weight: 500;
    box-shadow: 1px 4px 2px 2px #0515f7b4; 
}

.chat-bot .text{
    padding:10px;
    margin: 10px;
    width: 30%;
    list-style: none;
    font-size: 20px;
    font-weight: 500;
}
.chat-bot .w-4  b{
    padding-left: 10px;
    margin:0px;
    color: rgb(209, 11, 11);
    font-size: 40px;
    font-weight: 500;
}
.chat-bot .w-4 h3{
    padding: 30px;
    text-align: center;
}
.chat-bot .w-4 h3 a{
    color:#961414;
}
.chat-bot .w-4 h3 a:hover{
    color:#2359eb;
}
/*===============whatsapp chatbot css End===============*/












/*===============whatsapp-API css started===============*/
.whatsappapi-body{
    background: #CAF7FC;
}
.whatsapp-api{
    padding: 0px 20px;
}
.whatsapp-api h1{
    text-align: center;
    text-shadow: 2px 6px 5px gray;
    margin: 10px;
}
.whatsapp-api h4{
    text-align: center;
    padding:  20px;
}
.whatsapp-api h6{
    text-shadow: 2px 6px 5px gray;
    padding-top: 25px;
    padding-bottom: 30px;
    font-size: 34px;
    text-align: center;
    font-weight: 500;
}
.whatsapp-api h6::after{
    content: '';
    height: 2px;
    width: 150px;
    background-color: #961414;
    display: block;
    margin: auto;
}
.whatsapp-api .card-body{
   background-color: #dbeef7;
} 
.whatsapp-api .card p{
    font-weight: 500;
}
.whatsapp-api .wrapper .Tag-text-big{
    padding:10px;
    width: 50%;
    background: #bbbbbb;
    font-size: 30px;
    font-weight: 500;
    box-shadow: 1px 4px 2px 2px #0515f7b4;
}
.whatsapp-api .wrapper .text{
    font-size: 20px;
    padding: 20px;
    font-weight: 500; 
}
.whatsapp-api .w-4 h3 b{
    padding-left: 20px;
    margin:0px;
    color: rgb(209, 11, 11);
    font-size: 40px;
    font-weight: 500;
}
.whatsapp-api .w-4 h3{
    text-align: center;
    padding: 30px;
}
.whatsapp-api .w-4 h3 a{
    color:#961414;
}
.whatsapp-api .w-4 h3 a:hover{
    color:#2359eb;
}
/*===============whatsapp-API css End===============*/












/*===============staff hiring css started===============*/
.stafhirebody{
    background: #CAF7FC;
}
.staff-hiring{
    padding: 0px 20px;
}
.staff-hiring h1{
    padding: 0px 20px;
    text-shadow: 2px 6px 5px gray;
    text-align: center;
    margin: 10px;
}

.staff-hiring .w-4 h3 b{
    padding-left: 20px;
    margin:0px;
    color: rgb(209, 11, 11);
    font-size: 40px;
    font-weight: 500;
}
.staff-hiring .w-4 h3{
    text-align: center;
    padding: 30px;
}
.staff-hiring .w-4 h3 a{
    color:#961414;
}
.staff-hiring  .w-4 h3 a:hover{
    color:#2359eb;
}
/*===============staff hiring css End===============*/











/* ==================cutomer support css started===================*/

.stafhirebody{
    background: #CAF7FC;
}
.cust-support{
    padding: 0px 20px;
}
.cust-support h1{
    padding: 0px 20px;
    text-shadow: 2px 6px 5px gray;
    text-align: center;
    margin: 10px;
}

.cust-support .w-4 h3 b{
    padding-left: 20px;
    margin:0px;
    color: rgb(209, 11, 11);
    font-size: 40px;
    font-weight: 500;
}
.cust-support .w-4 h3{
    text-align: center;
    padding: 30px;
}
.cust-support .w-4 h3 a{
    color:#961414;
}
.cust-support .w-4 h3 a:hover{
    color:#2359eb;
}
/* ==================cutomer support css End===================*/











/* ==================faq css started===================*/
.faq-body{
    background: #dec2fc;
}

.faq{
    text-align: center;
}

.card-back3{
    background-color: #e4c0f8;
}
/* ==================faq css End===================*/










/* ================== Service faq css started===================*/

.serv-faq .accordion{
    padding: 20px;
}
/* ================== Service faq css End===================*/





/* ==================Creer faq css started===================*/

.car-faq .accordion{
    padding: 20px;
}
/* ==================Creer faq css End==================*/








/* ==================scroll top button css started===================*/
.gotop-btn{
    position: fixed;
    width: 45px;
    height: 45px;
    background: #9e8bf7;
    border-radius: 50%;
    bottom: 30px;
    right: 20px;
    text-decoration: none;
    text-align: center;
    line-height: 40px;
    color: white;
    font-size: 22px;
    scroll-behavior: smooth;
}
/* ==================scroll top button css End===================*/





