a{
    color: darkturquoise;
    margin-left: 10px;
    text-decoration: none;
}

body{
    margin: 0px;
    padding: 0px;
}

/* nav bar */

.container-fluid li a{
    font-size: 29px;
    padding : 10px;
    margin-left: 10px;
    text-decoration: none;
     color:white;
    font-weight: bold;
    text-align: center;
    text-decoration: none;   
 }

.navbar font{
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    color:white;
}


.container-fluid li a:hover{
    color:darkturquoise;
    
}

.navbar-image{
    height: 40px;
    width: 40px;
    border-radius: 50px;
}




/* footer */

.footer{
    padding: 0px;
    background-color:silver; 
}

.footer-right{
    text-decoration-style: double;
    font-size: 17px;
}
.social-size{
    padding: 0px;
    margin: 0px;

}

.social-login{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: blue;
    margin-left: 0px;

}

.p-1{
    height: 50px;
    width: 50px;
    background-color: #f5f6fa;
    margin: 10px;
    border-radius: 50px;
    box-shadow: 1px 4px 2px 2px #dcdee1;
    line-height: 55px;
    text-align: center;
}

i{
    transition: all 0.2s linear;

}

.p-1:hover i {
    transform: scale(1.4);
}

.fa-instagram {
    color: #e84393;
}

.fa-youtube {
    color: #e84118;
}

.fa-linkedin {
    color: #0097e6;
}

.fa-twitter {
    color: #0097e6;
}

.fa-whatsapp {
    color: #25D366;
}




/* Contact form New */

.body-contact{
    background: linear-gradient(90deg, #0e3959 0%, #0e3959 30%, #03a9f5 30%, #03a9f5 100%);
    position: relative;
    size-adjust: auto;
}

.card-contact{
    margin: 40px;
    background: transparent;
    outline: none;
    border: none;
}


.wrapper{
    margin-top: 20px;
    margin-left: 180px;
    position: relative;
    width:1000px;
    height: 650px;
    background: #d4f4fa;
    display: flex;
    justify-content: center; 
}

.input-row{
    margin-top: 20px;
    display: flex;
    /* justify-content:space-between; */
    margin-bottom: 20px;
}

.input-box{
    position: relative;
    width:100%;
    height: 50px;
    margin: 20px 0;
} 

 
.input-box label{
    position: absolute;
    /* justify-content: space-between; */
    top:30%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    font-weight: 500; 
    pointer-events: none;
}
.input-box input{
    width: 400px;
    /* outline: none;
    border:none;
    background: transparent;
    border-bottom: 2px #162938; */
       
}


textarea{
    width: 100%;
    
}

.btn{
    width: 100%;
    height: 45%;
    background: #162938;
    border:none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color:#fff;
    font-weight: 500;
}

.card{
    margin-top: 20px;
    margin-left: 400px;
    padding-left: 50px;
    list-style: none;
    width: 30%;
}
.card h5{
    font-weight: bold;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.card shadow{
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
}

.location p{
    margin-left:400px;
    padding-top: 10px;
}


























/*----contact form old-----*/


/* .row{
    margin: 20px;
}
.form-input{
    width: 95%;
    margin: 20px;
    margin-left: 30px;
    
}
.card{
    margin-left: 400px;
    padding-left: 50px;
    list-style: none;
    width: 30%;
}
.card h5{
    font-weight: bold;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.card li{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.submitt{
    margin-left: 32px;   
}

.location p{
    margin-left:400px;
    padding-top: 10px;
    
} */
